.yx-awaly{margin:0 auto;padding:0 auto;width:1340px;overflow:hidden;}
.yx-toubu img{float: left;}
.yx-ditu{float: left;position: relative;z-index: 0;}
.xiaotubiao{position: absolute; margin: 299px 0px 0px 758px;}
.s2{display:none;}
.s2 img{position:absolute;}

.s3{margin-left:30px;}
.s4{display:none;}
.s4 img{position:absolute;}

.biaopai{background-color: rgba(242, 207, 86, 1);padding: 15px 10px 10px 10px;margin-left: 50px;float:left;}
.yh-biaopai{background-color: rgba(242, 207, 86, 1);padding: 15px 10px 10px 10px;margin-left: 100px;float:left;}
.xiaotuiao-2{position: absolute; margin: 422px 0px 0px 609px;}

.xiaotuiao-3{position: absolute; margin: 310px 0px 0px 524px;}

.xiaotuiao-4{position: absolute; margin: 397px 0px 0px 390px;}

.songjiang{position: absolute; margin: 230px 0px 0px 756px;z-index: 99;}

.songjiang-2{position: absolute; margin: 251px 0px 0px 671px;z-index: 9999;}

.songjiang-3{position: absolute; margin: 356px 0px 0px 411px;}

.songjiang-4{position: absolute; margin: 299px 0px 0px 421px;z-index: 90;}

.songjiang-5{position: absolute; margin: 175px 0px 0px 755px;z-index: 9999;}

.songjiang-8{position: absolute; margin: 245px 0px 0px 352px;z-index: 99;}

.songjiang-9{position: absolute; margin: 184px 0px 0px 429px;z-index: 99;}

.songjiang-10{position: absolute; margin: 319px 0px 0px 549px;}



