@charset "utf-8";
/* CSS Document */
#lessonslist {
	position: relative;
	width: 100%;
	height: auto;
	background-color: #F7F7F7;
}

.chapter {
	font-size: 2em;
	text-indent: 1em;
	width: 100%;
	color: #333;
	background-color: #CCC;
	border-bottom: 0.05em;
	border-bottom-color: #FFF;
	display: block;
	overflow: hidden; /*注意不要写在最后了*/
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	height: 50px;
	line-height: 50px;
}

.course_content {
	font-size: 0.8em;
	height: 100%;
	borser: 0px;
	display: block;
	float: left;
	color: #fff;
	background-color: #cd0000;
	text-decoration: none;
	padding: 0 8px;
}

.titleasas {
	display: block;
	color: #333;
	text-decoration: none;
	width: 15em;
	overflow: hidden; /*注意不要写在最后了*/
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	float: right;
	position: relative;
	left: -2.8em
}

.period a {
	color: #333;
	display: block;
	text-decoration: none;
	width: 15em;
	overflow: hidden; /*注意不要写在最后了*/
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	float: right;
	position: relative;
	left: -2.8em
}

.period a:visited {
	color: #cd0000;
}

.chapter span {
	padding-left: 0.3em;
	padding-right: 0.3em;
	background-color: #F90;
	color: #FFF;
}

.period {
	width: 100%;
	border-color: #EAEAEA;
	border-bottom: 0.05em;
	border-bottom-style: solid;
	background-color: #FFF;
	color: #999;
	font-size: 1.5em;
	text-indent: 2em;
	line-height: 40px;
	height: 40px;
}

.period img {
	height: 1em;
	padding-left: 0.75em;
	padding-right: 0.75em;
}