<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <listener>
    <listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
  </listener>
    <!-- 所有的请求的getParameter会被替换，如果参数里面 含有敏感词会被替换掉 -->
  <filter>
     <filter-name>XssSqlFilter</filter-name>
     <filter-class>net.zjcclims.common.XssFilter</filter-class>
  </filter>
  <filter-mapping>
     <filter-name>XssSqlFilter</filter-name>
     <url-pattern>/*</url-pattern>
     <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>spring-profiles.default</param-name>
      <param-value>limsproduct</param-value>
    </init-param>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <description>
			generated-spring-security-session-integration-filter
		</description>
    <filter-name>SpringSecuritySessionIntegrationFilter</filter-name>
    <filter-class>org.springframework.security.web.context.SecurityContextPersistenceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SpringSecuritySessionIntegrationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <description>generated-persistence-filter</description>
    <filter-name>zjcclimsConnFilter</filter-name>
    <filter-class>
			org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter
		</filter-class>
    <init-param>
      <param-name>entityManagerFactoryBeanName</param-name>
      <param-value>zjcclimsConn</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>zjcclimsConnFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <description>generated-spring-security-filter</description>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <description>generated-sitemesh-filter</description>
    <filter-name>Sitemesh Filter</filter-name>
    <filter-class>
			com.opensymphony.module.sitemesh.filter.PageFilter
		</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Sitemesh Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <description>generated-servlet</description>
    <servlet-name>zjcclims Servlet</servlet-name>
    <servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
          classpath:zjcclims-web-context.xml,
          classpath:applicationContext-profile.xml
      </param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>generated-resources-servlet</description>
    <servlet-name>Resource Servlet</servlet-name>
    <servlet-class>
			org.springframework.js.resource.ResourceServlet
		</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Zjcclims</servlet-name>
    <servlet-class>app.zjcclims.Zjcclims</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AD</servlet-name>
    <servlet-class>app.zjcclims.AD</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Reservation</servlet-name>
    <servlet-class>app.zjcclims.Reservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resource Servlet</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>zjcclims Servlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Zjcclims</servlet-name>
    <url-pattern>/servlet/Zjcclims</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AD</servlet-name>
    <url-pattern>/servlet/AD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reservation</servlet-name>
    <url-pattern>/servlet/Reservation</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>zjcclims.root</param-value>
  </context-param>
  <context-param>
    <!--注意！！！切换版本时需要修改这个属性值，他比ide中配的参数加载优先级晚-->
    <param-name>spring.profiles.active</param-name>
    <param-value>limsproduct</param-value>
  </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml, classpath:spring-context-flyway.xml,
            classpath:financial-activemq.xml</param-value>
    </context-param>
    <listener>
    <listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
  </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/pages/error_page/403.jsp</location>
  </error-page>
  <!-- 启用OPTIONS方法的漏洞修复 -->
  <security-constraint>
            <web-resource-collection>
                <web-resource-name>fortune</web-resource-name>
                <url-pattern>/*</url-pattern>
                <http-method>PUT</http-method>
                <http-method>DELETE</http-method>
                <http-method>HEAD</http-method>
                <http-method>OPTIONS</http-method>
                <http-method>TRACE</http-method>
            </web-resource-collection>
            <auth-constraint></auth-constraint>
  </security-constraint>
</web-app>