@charset "utf-8";
* {
  margin: 0px;
  padding: 0px;
  font-family: "微软雅黑";
}
ul,
ol,
li {
  list-style-type: none;
}
.con {
  background-image: url(蓝色二级blue_02.png);
  width: 100%;
  height: 450px;
}
.con .con1 {
  padding-left: 14%;
  padding-top: 1%;
}
.con .con2 {
  margin-left: 340px;
  margin-top: 242px;
  cursor: pointer;
}
.con .con2 .con22 {
  width: 228px;
  height: 101px ;
  overflow: hidden;
  position: relative;
  float: left;
}
.con .con2 .con22 img {
  position: absolute;
}
.con .con2 .con22 p {
  margin: 36px 30px;
}
.con .con2 .con22 .con222 {
  width: 228px;
  height: 101px ;
  position: absolute;
  background: #000;
  color: #fff;
  display: none;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
.con .con2 .con22 .con2221 {
  width: 228px;
  height: 101px ;
  position: absolute;
  background: #000;
  color: #fff;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.con .con2 .con22 .con2222 {
  width: 228px;
  height: 101px ;
  position: absolute;
  background: #000;
  color: #fff;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
.con .con2 .con22 .con2223 {
  width: 228px;
  height: 101px ;
  position: absolute;
  background: blue;
  color: #fff;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
.con .con2 .con22 .con2224 {
  width: 228px;
  height: 101px ;
  position: absolute;
  background: #000;
  color: #fff;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.con .con2 .clear {
  clear: both;
}
.com img {
  padding-left: 568px;
}
.btn {
  width: 58%;
  margin-left: 225px;
}
.btn li {
  float: left;
  width: 120px;
  height: 100px;
  margin-left: 73px;
  cursor: pointer;
  color: #363558;
  font-size: 14px;
}
.btn li img {
  padding-left: 40px;
  padding-top: 26px;
}
.btn li p {
  margin-left: 28px;
  font-weight: bold;
}
.btn .btn2 {
  clear: both;
  margin: 0px auto;
}
.btn .btn2 .btn20 {
  width: 100%;
  height: 400px;
  margin: 0px auto;
}
.btn .btn2 .btn20 .btn201 {
  width: 30%;
  height: 400px;
  float: left;
}
.btn .btn2 .btn20 .btn201 h4 {
  margin-top: 40px;
  margin-left: 140px;
  color: #363558;
}
.btn .btn2 .btn20 .btn201 h5 {
  margin-left: 140px;
  color: #363558;
}
.btn .btn2 .btn20 .btn201 p {
  margin-left: 72px;
}
.btn .btn2 .btn20 .btn201 a {
  margin-left: 150px;
  margin-top: 20px;
}
.btn .btn2 .btn20 .btn202 {
  width: 70%;
  height: 400px;
  float: left;
}
.btn .btn2 .btn20 .btn202 .btn2021 {
  width: 100%;
  height: 50%;
  clear: both;
}
.btn .btn2 .btn20 .btn202 .btn2021 .btn20210 {
  width: 100%;
  height: 40%;
}
.btn .btn2 .btn20 .btn202 .btn2021 .btn20210 .btn00 {
  width: 100%;
  height: 40px;
}
.btn .btn2 .btn20 .btn202 .btn2021 .btn20210 a {
  text-decoration: none;
  color: #363558;
  font-size: 14px;
  font-weight: bold;
}
.btn .btn2 .btn20 .btn202 .btn2021 .btn20210 a:hover {
  color: blue;
}
.btn .btn2 .btn20 .btn202 .btn2021 .btn20211 {
  width: 45%;
  height: 60%;
  float: left;
}
.btn .btn2 .btn20 .btn202 .btn2021 .btn20212 {
  width: 55%;
  height: 60%;
  float: left;
}
.btn .btn2 .btn20 .btn202 .btn2021 .btn20212 span {
  line-height: 125%;
  color: gray;
  cursor: pointer;
  font-size: 13px;
}
.btn .btn2 .btn20 .btn202 hr {
  border: 1px dotted silver;
}
.btn .btn2 .btn20 .btn202 div {
  width: 100%;
  height: 20px;
}
.btn .btn2 .btn20 .btn202 .btn2022 {
  width: 100%;
  height: 50%;
  clear: both;
}
.btn .btn2 .btn20 .btn202 .btn2022 a {
  text-decoration: none;
  color: #363558;
  font-size: 14px;
  font-weight: bold;
}
.btn .btn2 .btn20 .btn202 .btn2022 a:hover {
  color: blue;
}
.btn .btn2 .btn20 .btn202 .btn2022 span {
  line-height: 125%;
  color: gray;
  cursor: pointer;
  font-size: 13px;
}
.btn .btn2 .btn21 {
  width: 100%;
  height: 400px;
  margin: 0px auto;
}
.btn .btn2 .btn21 .btn201 {
  width: 30%;
  height: 400px;
  float: left;
}
.btn .btn2 .btn21 .btn201 h4 {
  margin-top: 40px;
  margin-left: 140px;
  color: #363558;
}
.btn .btn2 .btn21 .btn201 h5 {
  margin-left: 140px;
  color: #363558;
}
.btn .btn2 .btn21 .btn201 p {
  margin-left: 72px;
}
.btn .btn2 .btn21 .btn201 a {
  margin-left: 150px;
  margin-top: 20px;
}
.btn .btn2 .btn21 .btn202 {
  width: 70%;
  height: 400px;
  float: left;
}
.btn .btn2 .btn21 .btn202 .btn2021 {
  width: 100%;
  height: 50%;
  clear: both;
}
.btn .btn2 .btn21 .btn202 .btn2021 .btn20210 {
  width: 100%;
  height: 40%;
}
.btn .btn2 .btn21 .btn202 .btn2021 .btn20210 .btn00 {
  width: 100%;
  height: 40px;
}
.btn .btn2 .btn21 .btn202 .btn2021 .btn20210 a {
  text-decoration: none;
  color: #363558;
  font-size: 14px;
  font-weight: bold;
}
.btn .btn2 .btn21 .btn202 .btn2021 .btn20210 a:hover {
  color: blue;
}
.btn .btn2 .btn21 .btn202 .btn2021 .btn20211 {
  width: 45%;
  height: 60%;
  float: left;
}
.btn .btn2 .btn21 .btn202 .btn2021 .btn20212 {
  width: 55%;
  height: 60%;
  float: left;
}
.btn .btn2 .btn21 .btn202 .btn2021 .btn20212 span {
  line-height: 125%;
  color: gray;
  cursor: pointer;
  font-size: 13px;
}
.btn .btn2 .btn21 .btn202 hr {
  border: 1px dotted silver;
}
.btn .btn2 .btn21 .btn202 div {
  width: 100%;
  height: 20px;
}
.btn .btn2 .btn21 .btn202 .btn2022 {
  width: 100%;
  height: 50%;
  clear: both;
}
.btn .btn2 .btn21 .btn202 .btn2022 a {
  text-decoration: none;
  color: #363558;
  font-size: 14px;
  font-weight: bold;
}
.btn .btn2 .btn21 .btn202 .btn2022 a:hover {
  color: blue;
}
.btn .btn2 .btn21 .btn202 .btn2022 span {
  line-height: 125%;
  color: gray;
  cursor: pointer;
  font-size: 13px;
}
.btn .btn2 .btn22 {
  width: 100%;
  height: 400px;
  margin: 0px auto;
}
.btn .btn2 .btn22 .btn201 {
  width: 30%;
  height: 400px;
  float: left;
}
.btn .btn2 .btn22 .btn201 h4 {
  margin-top: 40px;
  margin-left: 140px;
  color: #363558;
}
.btn .btn2 .btn22 .btn201 h5 {
  margin-left: 140px;
  color: #363558;
}
.btn .btn2 .btn22 .btn201 p {
  margin-left: 72px;
}
.btn .btn2 .btn22 .btn201 a {
  margin-left: 150px;
  margin-top: 20px;
}
.btn .btn2 .btn22 .btn202 {
  width: 70%;
  height: 400px;
  float: left;
}
.btn .btn2 .btn22 .btn202 .btn2021 {
  width: 100%;
  height: 50%;
  clear: both;
}
.btn .btn2 .btn22 .btn202 .btn2021 .btn20210 {
  width: 100%;
  height: 40%;
}
.btn .btn2 .btn22 .btn202 .btn2021 .btn20210 .btn00 {
  width: 100%;
  height: 40px;
}
.btn .btn2 .btn22 .btn202 .btn2021 .btn20210 a {
  text-decoration: none;
  color: #363558;
  font-size: 14px;
  font-weight: bold;
}
.btn .btn2 .btn22 .btn202 .btn2021 .btn20210 a:hover {
  color: blue;
}
.btn .btn2 .btn22 .btn202 .btn2021 .btn20211 {
  width: 45%;
  height: 60%;
  float: left;
}
.btn .btn2 .btn22 .btn202 .btn2021 .btn20212 {
  width: 55%;
  height: 60%;
  float: left;
}
.btn .btn2 .btn22 .btn202 .btn2021 .btn20212 span {
  line-height: 125%;
  color: gray;
  cursor: pointer;
  font-size: 13px;
}
.btn .btn2 .btn22 .btn202 hr {
  border: 1px dotted silver;
}
.btn .btn2 .btn22 .btn202 div {
  width: 100%;
  height: 20px;
}
.btn .btn2 .btn22 .btn202 .btn2022 {
  width: 100%;
  height: 50%;
  clear: both;
}
.btn .btn2 .btn22 .btn202 .btn2022 a {
  text-decoration: none;
  color: #363558;
  font-size: 14px;
  font-weight: bold;
}
.btn .btn2 .btn22 .btn202 .btn2022 a:hover {
  color: blue;
}
.btn .btn2 .btn22 .btn202 .btn2022 span {
  line-height: 125%;
  color: gray;
  cursor: pointer;
  font-size: 13px;
}
.btn .btn2 .btn23 {
  width: 100%;
  height: 400px;
  margin: 0px auto;
}
.btn .btn2 .btn23 .btn201 {
  width: 30%;
  height: 400px;
  float: left;
}
.btn .btn2 .btn23 .btn201 h4 {
  margin-top: 40px;
  margin-left: 140px;
  color: #363558;
}
.btn .btn2 .btn23 .btn201 h5 {
  margin-left: 140px;
  color: #363558;
}
.btn .btn2 .btn23 .btn201 p {
  margin-left: 72px;
}
.btn .btn2 .btn23 .btn201 a {
  margin-left: 150px;
  margin-top: 20px;
}
.btn .btn2 .btn23 .btn202 {
  width: 70%;
  height: 400px;
  float: left;
}
.btn .btn2 .btn23 .btn202 .btn2021 {
  width: 100%;
  height: 50%;
  clear: both;
}
.btn .btn2 .btn23 .btn202 .btn2021 .btn20210 {
  width: 100%;
  height: 40%;
}
.btn .btn2 .btn23 .btn202 .btn2021 .btn20210 .btn00 {
  width: 100%;
  height: 40px;
}
.btn .btn2 .btn23 .btn202 .btn2021 .btn20210 a {
  text-decoration: none;
  color: #363558;
  font-size: 14px;
  font-weight: bold;
}
.btn .btn2 .btn23 .btn202 .btn2021 .btn20210 a:hover {
  color: blue;
}
.btn .btn2 .btn23 .btn202 .btn2021 .btn20211 {
  width: 45%;
  height: 60%;
  float: left;
}
.btn .btn2 .btn23 .btn202 .btn2021 .btn20212 {
  width: 55%;
  height: 60%;
  float: left;
}
.btn .btn2 .btn23 .btn202 .btn2021 .btn20212 span {
  line-height: 125%;
  color: gray;
  cursor: pointer;
  font-size: 13px;
}
.btn .btn2 .btn23 .btn202 hr {
  border: 1px dotted silver;
}
.btn .btn2 .btn23 .btn202 div {
  width: 100%;
  height: 20px;
}
.btn .btn2 .btn23 .btn202 .btn2022 {
  width: 100%;
  height: 50%;
  clear: both;
}
.btn .btn2 .btn23 .btn202 .btn2022 a {
  text-decoration: none;
  color: #363558;
  font-size: 14px;
  font-weight: bold;
}
.btn .btn2 .btn23 .btn202 .btn2022 a:hover {
  color: blue;
}
.btn .btn2 .btn23 .btn202 .btn2022 span {
  line-height: 125%;
  color: gray;
  cursor: pointer;
  font-size: 13px;
}
.btn .on {
  background-color: #EEEEEE;
  border-bottom: 2px slategray solid;
}
.zxn {
  width: 100%;
  height: 250px;
  background-color: gainsboro;
}
.zxn .zxn0 {
  width: 25%;
  height: 250px;
  float: left;
}
.zxn .zxn1 {
  width: 15%;
  height: 250px;
  float: left;
}
.zxn .zxn1 .zxn10 {
  width: 100%;
  height: 30px;
}
.zxn .zxn1 p a {
  text-decoration: none;
  color: gray;
  font-size: large;
}
.zxn .zxn1 p a:hover {
  color: blue;
}
.zxn .zxn1 .zxn11 {
  width: 100%;
  height: 10px;
}
.zxn .zxn1 a {
  text-decoration: none;
  color: gray;
  font-size: 12px;
}
.zxn .zxn1 a:hover {
  color: blue;
}
.zxn .zxn1 .zxn13 {
  width: 100%;
  height: 37px;
}
.zxn .zxn2 {
  width: 20%;
  height: 250px;
  float: left;
}
.zxn .zxn2 .zxn10 {
  width: 100%;
  height: 30px;
}
.zxn .zxn2 .zxn12 {
  color: gray;
  font-size: large;
}
.zxn .zxn2 p {
  color: gray;
  font-size: 12px;
}
.zxn .zxn2 .zxn11 {
  width: 100%;
  height: 16px;
}
.zxn .zxn2 .zxn13 {
  width: 100%;
  height: 9px;
}
.zxn .zxn2 .zxn14 {
  margin-left: 120px;
}
.zxn .zxn2 .zxn14 font {
  color: gray;
  cursor: pointer;
}
.zxn .zxn2 span {
  color: gray;
  font-size: 12px;
  display: block;
  text-align: center;
}
.zxn .zxn3 {
  width: 15%;
  height: 250px;
  float: left;
}
.zxn .zxn3 .zxn10 {
  width: 100%;
  height: 30px;
}
.zxn .zxn3 p a {
  text-decoration: none;
  color: gray;
  font-size: large;
}
.zxn .zxn3 p a:hover {
  color: blue;
}
.zxn .zxn3 .zxn11 {
  width: 100%;
  height: 10px;
}
.zxn .zxn3 a {
  text-decoration: none;
  color: gray;
  font-size: 12px;
  text-indent: 30px;
}
.zxn .zxn3 a:hover {
  color: blue;
}
.zxn .zxn3 .zxn13 {
  width: 100%;
  height: 37px;
}
.zxn .zxn4 {
  width: 25%;
  height: 250px;
  float: left;
}
