@charset "utf-8";
/* CSS Document */

.is_SearcherDisplayer{
	width:auto;
	height:1.5em;
	background-color:#999;
	}
.is_SearcherDownList{
	position:relative;
	background-color:#949494;
	float:left;
	width:auto;
	height:100%;
	color:#FFF;
	padding-left:0.4em;
	border:1px;
	border-left:0px;
	border-right:0px;
	border-color:#949494;
	border-style:solid;
	cursor: pointer;
	}
	.is_SearcherDownList span{
		float:left;
		margin-right:0.4em;
		}
	.is_SearcherDownList .is_Icons{
		display:none;
		float:right;
		}
.is_SearcherInner{
	float:left;
	width:100%;
	height:auto;
	}
	.is_SearcherDownlistInner{
		display:none;
		position:absolute;
		background-color: rgb(201, 201, 201);
		float:left;
		width:auto;
		height:auto;
		border:1px;
		border-color:#000;
		border-style:solid;
		font-size:0.7em;
		z-index:10;
		}
		.is_SearcherDownlistInner div{
			padding-top:0.4em;
			padding-bottom:0.4em;
			width:100%;
			background-color: rgb(214, 214, 214);
			float:right;
			clear:left;
		}
		.is_SearcherDownlistInner span{
			font-size:1.2em;
			margin-left:0.5em;
			margin-top:0.1em;
			margin-bottom:0.1em;
			float:left;
			color:#000;
			font-weight:bold;
			line-height: 20px;
			}
		.is_SearcherDownlistInner a{
			margin-top:0.4em;
			margin-bottom:0.4em;
			margin-left:0.6em;
			color:#666;
			text-decoration:none;
			cursor: pointer;
		}
		.is_SearcherDownlistInner a:hover{
			color:#333;
			text-decoration:underline;
			}
.is_SearcherBox{
	float:left;
	position:relative;
	height:100%;
	border:1px;
	border-style:solid;
	background-color:#FFF;
	}
	.is_SearcherBox input{
		height:100%;
		outline:none;
		background:none;
		border:0;
		border-style:none;
		line-height:1.5em;
		padding:0;
		margin:0;
		margin-left:0.4em;
		margin-right:0.4em;
		font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
		}
	.is_SearcherShadow{
		width:10px;
		height:100%;
		background-repeat:repeat-y;
		position:absolute;
		top:0;
		right:-1px;
		background-image:url(../images/is_LeftList_Shadow.png);
		}

.is_SearcherButtonBox{
	float:right;
	height:100%;
	border:1px;
	border-top-color:#707070;
	border-bottom-color:#000000;
	border-style:solid;
	width:auto;
	background-color:#282828;
	}
	.is_SearcherButtonBox div{
		float:left;
		}
		
.is_SearcherDisplayer,.is_SearcherDownlistInner{		
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3);/*ie*/
	-moz-box-shadow: 2px 2px 5px #909090;/*firefox*/
	-webkit-box-shadow: 2px 2px 5px #909090;/*safari或chrome*/
	box-shadow:2px 2px 5px #909090;/*opera或ie9*/
	}