* {
    padding:0px;
    margin:0px;
    font-size:12px;
}
table{border-collapse: collapse;}
a {
    text-decoration:none;
    cursor:pointer
}
.notice {
    overflow:hidden;
}
li {
    list-style:none;
}
.head {
    height:50px;
    line-height:50px;
    background:#333;
    font-size:24px;
    color:#fff;
}
.left-nav, .news {
    float:left;
}
.right-content, .apply {
    float:right;
}
.left-nav {
    width:18%;
	overflow:hidden;
}
table tr th,table tr td{
	text-align:center;
}
.right-content {
	width:100%;
    background-repeat:repeat-y;
}
.silder-bar {
    background-image:url(../images/sidebar.png);
}
.user, .navigation, .title {
    background-image:url(../images/secondary_bar.png);
    line-height:35px;
    height:35px;
    border-radius: 5px;
	word-break:keep-all;white-space:nowrap;
}
.user i {
    font-size:14px
}
.toggle {
    font-size:13px;
    font-weight:bold;
    line-height:30px;
    position:relative;
	text-indent:15px;
	word-break:keep-all;white-space:nowrap;
}
.toggle i {
    position:absolute;
    right:10px;
    line-height: 30px;
    cursor:pointer
}
.toggle .show {
    display:none;
}
.silder-bar ul li a {
    line-height:30px;
    color:#666;
}
.silder-bar ul li i {
    margin-right: 10px;
    font-size: 16px;
	text-shadow: 1px 0px 1px #5F5F5F;
}
.silder-bar ul li {
    padding-left:30px;
	word-break:keep-all;white-space:nowrap;
}
.navigation .bg {
    height:35px;
    background-image:url(../images/sidebar_shadow.png);
    background-repeat:repeat-y;
    width:10px;
    float:left;
}
#navigation {
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    height: 23px;
    position:relative;
    margin-left:15px;
    top:4px;
    padding: 0 20px;
}
#navigation {
    height:22px;
    line-height:23px;
}
#navigation ul li a {
    color:#333;
}
#navigation ul li {
    float:left;
    background-image:url(../images/breadcrumb_divider.png);
    background-repeat:no-repeat;
    background-position:center right;
    padding-right:15px;
    padding-left:5px;
}
#navigation ul .end {
    background:none !important;
}
.prompt {
    border: 1px solid #77BACE;
    background: #B5E5EF;
    line-height:50px;
    padding:0 15px;
    font-size:16px;
    font-weight:bold;
}
.content {
    padding:15px 0 0 15px;
}
.title {
    padding:0 10px;
	font-weight: bold;
}
.news, .apply, .tit,.TabbedPanelsContent .content-box {
    border: 1px solid #9BA0AF;
}
.prompt, .news, .apply, .tit {
    border-radius:5px;
	overflow:hidden;	
}
.TabbedPanelsContent .content-box{overflow:visible;}
.TabbedPanelsContent .content-box{border-radius:5px;
	overflow:visible;}

.content-box .content-box{margin:5px;}
.news, .apply {
    width:49%;
    overflow: hidden;
}
.tit {
    margin:15px;
    padding:3px
}
.notice {
    margin-top:20px;
}
.power{
	margin-top:20px;
	border-top:1px solid #ccc;
	padding-top:20px;
	padding-bottom:30px;
	text-indent:15px;
	word-break:keep-all;white-space:nowrap;
}
.tool-box,.tool-box1,.tool-box2 {
	background: #EEE;
	padding: 10PX 5PX;
	color: #666;
}
.tool-box1{
	border-radius: 5px;
	margin-left: 8px;
	border: solid 1px #CCC;
	margin-top: 15px;
	background: #f6f6f6;
	margin-right: 8PX;}
.tool-box2 {border-radius: 5px;
	margin: 10px;
	border: solid 1px #CCC;
	background: #f6f6f6;}
.tool-box2 th,.tool-box2 td{border:0px !important;}
.tool-box table,.tool-box1 table{width:100%;
	}
.tool-box table th,.tool-box table td,.tool-box1 table th,.tool-box1 table td{line-height:20px;
	color:#666;}
.tool-box ul li {
	float: left;
	line-height: 25px;
	margin-right:5px;
}
.content-box{margin-top:5px;}
.content-box table,.content-box-double-right table,.content-box-double-left table{width:100%;
	border-collapse: collapse;}
.content-box thead tr,.content-box-double-right th, .content-box-double-right td, .content-box-double-left th, .content-box-double-left td{
	line-height:25px;
	padding: 2px 2px;
	text-align: left;
	border: 1px dotted #ccc;}
.content-box thead tr th,.content-box td{
	padding:2px 2px;
	height: 20px;
	text-align:left;
	border: 1px dotted #ccc }
.form-box{text-align:center;
	padding:5px}
input,.btn{
	padding: 2px 10px;
	list-style: none;
	line-height: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	border: 1px solid #ccc;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	outline:none;
	cursor: pointer;
	margin-right: 5px;
	}
select{padding: 2px 10px;
	list-style: none;
	line-height: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	border: 1px solid #ccc;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	outline:none;
	cursor: pointer;}
fieldset th{text-align:right;
	padding-right:8px;}
fieldset th,fieldset td{border:0px !important;
	color:#666;}
.content-box fieldset{
	margin: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F6F6F6;
	border: 1px solid #ccc;
	padding: 1% 0%;
	float: left;
	width: 46%;
	}
.content-box legend{padding: 0 10px;}
.edit-box{overflow:hidden;}
.edit-left{width:62%;
	color: #666;
	float:left;}
.edit-right{width:37%;
	color: #666;
	float:right;}
#title {
float: left;
	text-indent: 10px;
	color: #000;
	}
.edit-content-box{border: 1px solid #9BA0AF;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 15px;
	}
.btn-edit, .btn-return, #save,.btn-new {
	float: right;
	margin-right: 10px;
	margin-top: 3px;
	color: #838383;
	}
.btn-common{
	margin-right: 10px;
	margin-top: 3px;
	color: #838383;
	padding:4px 8px;
}
.edit-content table th,.edit-content table td{
	padding: 5px 0 5px 3px;
	text-align: left;
	}
.edit-content{padding: 8px;
	color: #666;}
.edit-edit table th,.edit-edit table td{
	padding: 5px 0 5px 3px;
	text-align: right;}
.edit-edit {
	display: none;
	}
.edit-action{display: none;}
.edit-edit table,.edit-content table{width:100%;}
.edit{margin-bottom:15px;}
.edit-edit input[type=text]{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	height: 20px;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 10px;
	background-position: 10px 6px;
	margin: 0;
	display: block;
	float: left;
	margin: 0 10px;}
	input[type=text]{
		-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 10px;
	background-position: 10px 6px;
	margin: 0;
	/* float:right; */
	margin: 0 10px 0 0;
		}
	select{-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 10px;
	background-position: 10px 6px;
	margin: 0 10px 0 4px;}
.edit-edit input[type=text]{width: 75%;}
.showen,.hidden{position:absolute;
	margin-top:150px;
	height:40px;
	width:15px;
	background:rgba(0,0,0,0.7);
	color:#fff;
	border-radius:4px;
	text-align:center;
	padding-top:30px;}
.hidden{display:none;}
.sit_module {
	border: 1px solid #9BA0AF;
	width: 350px;
	min-height: 200px;
	margin: 10% auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ffffff;
	}
.sit_module .sit_title {
	height: 38px;
	width: 100%;
	background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	}
.sit_module .sit_title h3 {
	display: block;
	width: 90%;
	float: left;
	margin: 8px 10px;
	padding: 0;
	padding-left: 20px;
	background: url(../images/icn_user.png) no-repeat center left;
	}
.sit_title h3{font-size:16px;}
.sit_login_form {
width: 260px;
margin: 20px auto;
font-size: 14px;
}
.sit_login_form th {
width: 50px;
padding: 15px;
}
.sit_login_form label{font-size:14px;
	width: 65px;
display: block;}
.sit_login_form input{margin:0px;}
.TabbedPanels{padding: 10px;}
.sit_login_form input[type=submit]{padding:0 20px;
	font-size:14px;}
	.TabbedPanelsContentGroup{width:100%}
.chzn-results{width: 99%;}
.tool-box{min-height:28px !important;	}
#labRoomDevice table td{
	padding:5px;
	
}
#save{background:#0ffff0;
	color:#474747}
.tit-box h3{float:left;}
.tit-box{overflow:hidden;
	line-height:40px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
		}
.content-box-double-left,.content-box-double-right{width:49%;
	}
.content-box-double-right{float:right}
.content-box-double-left{float:left;}
.content-double{border-radius: 5px;
	width: 99%;
	position: relative;
	overflow: hidden;
	margin-top:10px;
	border: 1px solid #9BA0AF;}
td a{color:#000;}
.page{line-height:30px;
	text-indent:5px;}
.page a{color: #000;
	display: inline;
	height: 25px;
	line-height: 25px;
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
	padding-left: 10px;
	margin: -5px 0 5px 0;
	text-transform: uppercase;}
fieldset label {
	display: block;
	float: left;
	width: 200px;
	height: 25px;
	line-height: 25px;
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
	padding-left: 10px;
	margin: -5px 0 5px 0;
	text-transform: uppercase;
	}
fieldset input[type=text],fieldset textarea {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	height: 20px;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 10px;
	background-position: 10px 6px;
	margin: 0;
	display: block;
	float: left;
	width: 90%;
	margin: 0 10px 0 4px;
	}
fieldset select{display:block;
	width:90%;
	height:26px;}
.introduce-box{width:96% !important;}
.introduce-box textarea{min-height:100px;
	width: 97%;}
.introduce-box table input,.introduce-box table select {width:auto !important;}

.moudle_footer {
	height: 32px;
	width: 100%;
	border-top: 1px solid #9CA1B0;
	background: #F1F1F4 url(/images/module_footer_bg.png) repeat-x;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	}
.introduce-box table{width: 95%;
margin: auto;}
.TabbedPanelsTabGroup{border-bottom: solid 1px #999;
	height: 25px;}
.TabbedPanelsTabGroup li{float:left;
	background: #ddd;
	margin-right: 4px;
	outline: none;
	}
.TabbedPanelsTabGroup .selected{
	border: 1px solid #B1B1B1;
	background:#fff;
	border-bottom:1px solid #fff;}
	.TabbedPanelsTabGroup li a{display:block;
		line-height:25px;
		color: #333;
		padding:0 8px;}
.TabbedPanelsTabGroup-box{border: 1px solid #B1B1B1;
	border-top:0px;
	padding:5px;}
.new-classroom .introduce-box th,.new-classroom .introduce-box th{text-align:left;
	text-indent:5px;
	line-height:24px;}
	#Pop_content table{width:99%;}
#Pop_content table th,#Pop_content table td{height:35px;}
#clauseForm table th,#clauseForm table td{border:1px solid #eee;
	text-indent: 4px;}
.class-room{color:#000fd5;
	font-weight:bold;}
#openwindow table td{border:0px;}
#openwindow table th{text-align:left;
width:15%;}
#openwindow table{width:100%;}
.content-box #labReservationTimeTablesCLabReservationWeekid1_chzn{width:auto !important}
.btn-normal{margin-right: 10px;
margin-top: 3px;
color: #838383;
}
.content1 {width:99%;
	margin:auto;}
.content1 li img{width:90%;}
.content1 table th{text-align:left;}
.content1 table th,.content1 table td{line-height:20px;}
.content1{padding: 4px;}
#viewTable li a{color:#333；}
.img-tit{line-height:30px;
	font-size:12px;
	color:#333;}
	.more {
/* position: absolute; */
top: 0px;
right: 0px;
line-height: 25px;
color: #333;
font-weight: bold;
}
.classroom-name{color:#333;
	font-weight:bold;
	color:#000f95}
	.more a{color:#333;}
	.img-box{clear: both;
overflow: hidden;}
.img-box li{float:left;}
/*用于显示一行三列*/
.rowonex{background-color:#f0f0f0; float:left;width:33%;>width:30%;display:block;}
.rowonex td{>width:250px;}
.rowtwoy{background-color:#f0f0f0;float:left; width:33%;>width:30%;display:block;}
.rowtwoy td{>width:250px;}
.rowthree{background-color:#f0f0f0;float:right; width:34%;>width:30%;display:block;}
.rowthree td{>width:250px;}
.new-classroom:after {
	content: "ddd";
	display: block;
	height: 0;
	overflow: visible;
	clear: both;
	visibility: hidden;
	}
.content-box:after{content: "ddd";
	display: block;
	height: 0;
	overflow: visible;
	clear: both;
	visibility: hidden;}
.img-box li{margin-right:5px;}
th{ border: 1px dotted #ccc;
    min-height: 20px;
    padding: 2px;
    }
.eq  th{width:auto !important;}
#my_show tr td{border: 1px dotted #CCCCCC;
 min-height: 20px;
    padding:2px;}