<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- 产品版本 -->
	<beans profile="limsproduct">
		<context:property-placeholder location="classpath:config/limsproduct/*.properties" ignore-unresolvable="true" file-encoding="utf-8"/>
	</beans>

	<!-- 浙江建设版本 -->
	<beans profile="zjcclims">
		<context:property-placeholder location="classpath:config/zjcclims/*.properties" ignore-unresolvable="true" file-encoding="utf-8"/>
	</beans>

	<!-- 成都中医药版本 -->
	<beans profile="chdlims">
		<context:property-placeholder location="classpath:config/chdlims/*.properties" ignore-unresolvable="true" file-encoding="utf-8"/>
	</beans>

	<!-- 金陵机电版本 -->
	<beans profile="jitlims">
		<context:property-placeholder location="classpath:config/jitlims/*.properties" ignore-unresolvable="true" file-encoding="utf-8"/>
	</beans>

	<!-- 徐州医学院版本 -->
	<beans profile="xzyxy">
		<context:property-placeholder location="classpath:config/xzyxy/*.properties" ignore-unresolvable="true" file-encoding="utf-8"/>
	</beans>

	<!-- 江苏理工版本 -->
	<beans profile="jsutlims">
		<context:property-placeholder location="classpath:config/jsutlims/*.properties" ignore-unresolvable="true" file-encoding="utf-8"/>
	</beans>



</beans>