 .pagination_desc
    {
        margin-left: 15px;
        margin-top: 10px;
        font-style: italic;
        color: #828f95;
        font-size: 13px;
    }

    .pagination_desc strong
    {
        color: #176f94;
    }

    .pagination
    {
        margin-top: 10px;
        float: right;
        margin-right: 10px;
        color: #176f94;
        font-size: 16px;
        font-weight: bold;
    }

    .pagination a
    {
        margin: 0 1px;
        text-decoration: none;
        color: #828f95;
        font-size: 75%;
        vertical-align: 1px;
        font-weight: normal;
    }

    .pagination a:hover
    {
        text-decoration: underline;
    }

    .pagination img
    {
        vertical-align: -2px;
    }